@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --note-color: #444;
  --dark: #333;
  --darker: #222;
  --primary: #2db57b;
  --light: whitesmoke;
}

* body {
  background-color: var(--darker);
}

* body button.create-note {
  position: absolute;
  width: 200px;
  height: 60px;
  right: 43px;
  top: 43px;
  background-color: var(--primary);
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 5;
}

* body button.create-note::before {
  content: "Create Note";
}

* body button.create-note.close::before {
  content: "Close";
}

* body form {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: var(--dark);
  top: 10rem;
  left: 35%;
  box-shadow: 0 0 200px 1000px #000a;
  border: 0.02rem solid var(--darker);
  border-radius: 2rem;
  padding: 30px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  pointer-events: none;
  z-index: -4;
}

* body form.show {
  opacity: 1;
  pointer-events: all;
  z-index: 4;
}

* body form input,
* body form textarea {
  padding: 15px 10px;
  font-size: 25px;
  background-color: transparent;
  border: 0.02rem solid var(--dark);
  border-radius: 1rem;
  outline: none;
  transition: 0.3s;
  color: var(--light);
}

* body form input:hover,
* body form textarea:hover {
  border: 0.02rem solid var(--primary);
}

* body form textarea {
  resize: none;
  font-size: 20px;
  height: 300px;
}

* body form textarea::-webkit-scrollbar {
  width: 0.5em;
}

* body form textarea::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, var(--primary), transparent);
  border-radius: 1rem;
}

* body form button {
  padding: 5px 1px;
  font-size: 18px;
  max-width: 100px;
  margin-left: 86%;
  background-color: var(--darker);
  color: var(--primary);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
}

* body section {
  position: relative;
  top: -17.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  gap: 50px;
}

* body .note_taking_man {
  position: absolute;
  top: 13rem;
  pointer-events: none;
  mix-blend-mode: exclusion;
}

* body section .note {
  position: relative;
  width: 200px;
  height: 200px;
  background: var(--note-color);
  padding: 20px;
  z-index: 1;
  margin: 0;
  border-radius: 38px;
  box-shadow: 0px 0px 40px 2px #000000;
  color: var(--light);
}

* body section .note.wow {
  position: relative;
  width: 400px;
  height: 400px;
}

* body section .note p.fullScreen:after {
  content: "\f065";
  font-family: fontAwesome;
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
  color: #ccc;
}

* body section .note p.remove::after {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 20px;
  content: "\f00d";
  font-family: fontAwesome;
  color: red;
  font-weight: normal;
  cursor: pointer;
}

* body section .note p.edit::after {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 20px;
  content: "\f044";
  font-family: fontAwesome;
  color: #32c732;
  cursor: pointer;
}

* body section .note h3 {
  position: absolute;
  top: 20%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* body section .note .note-note {
  position: absolute;
  top: calc(20% * 1.7);
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* body section .note input.updateTitle {
  position: absolute;
  top: 25%;
  outline: none;
  border: none;
}

* body section .note textarea.updateNote {
  position: absolute;
  top: 40%;
  outline: none;
  border: none;
}
